.plantContainer {
    max-width: 800px;
    margin: 2rem auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
    font-size: 28px;
    margin-bottom: 20px;
}

h2 {
    text-align: center;
    color: #666;
    font-size: 24px;
    margin-top: 40px;
}
  