.header {
    display: flex;
    padding: 1.25rem 0;
    justify-content: center;
    background-color: #f0f0f0;
    border-bottom: 1px solid #ddd;
}
  


.navLinks {
    list-style: none;
    display: flex;
}

.navLinks li {
    font-size: 1.25rem;
    padding: 0 2rem;
}

.navLinks a {
    color: #333;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.navLinks a:hover {
    color: #006600;
    background-color: #d3f4d3;
}
  